CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
CTestTestfile.cmake
gmon.out
Makefile
install_manifest.txt
pdf2htmlEX
pdf2htmlEX.1
share/base.css
share/fancy.css
share/js_src/css_class_names.js
share/pdf2htmlEX.js
share/pdf2htmlEX.min.js
src/pdf2htmlEX-config.h
src/util/css_const.h
test/*
Testing/*
wiki/*
doc/*
/"\\"
/share/base.min.css
/share/fancy.min.css

