#pdf-main {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow:auto;
  background-color:grey;
  /* for Chrome & Safari */
  -webkit-text-stroke-width:0.13px; 
}
.p {
  position:relative;
  margin:13px auto;
  background-color:white;
  overflow:hidden;
  display:none;
}
.l {
  position:absolute;
  white-space:pre;
  line-height:0;
  height:0;
  font-size:0;
  transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -webkit-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
}
span {
  position:relative;
  vertical-align: baseline;
}
._ {
  color:transparent;
}
::selection{
  background: rgba(127,255,255,1);
}
::-moz-selection{
  background: rgba(127,255,255,1);
}
.i {
  position:absolute;
}
