/* Base CSS */
/* Copyright 2012 Lu Wang <coolwanglu@gmail.com> */
#pdf-main {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow:auto;
  background-color:grey;
  /* margin & border-width have to be 0, 
   * otherwise pdf2htmlEX may not calculate the coordinates correctly
   */
  margin:0;
  border-width:0;
}
.d {
  position:relative;
  margin: 13px auto;
  border-width: 0;
  box-shadow: 1px 1px 3px 1px #333;
  overflow: hidden;
}
.p {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  overflow: hidden;
  /* margin & border-width have to be 0, 
   * otherwise pdf2htmlEX may not calculate the coordinates correctly
   */
  margin:0;
  border-width:0;
}
.b {
  position:absolute;
  border-width:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  display:block;
  transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -webkit-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
}
.l {
  position:absolute;
  white-space:pre;
  font-size:1px;
  transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -webkit-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
}
span {
  position:relative;
  vertical-align: baseline;
}
._ {
  color:transparent;
}
::selection{
  background: rgba(127,255,255,1);
}
::-moz-selection{
  background: rgba(127,255,255,1);
}
.i {
  position:absolute;
}
.j {
  display:none;
}
.a {
}
/* Base CSS END */
