/* Base CSS */
/* by Wang Lu */
#pdf-main {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow:auto;
  background-color:grey;
  /* for Chrome & Safari */
  -webkit-text-stroke-width:0.13px; 
}
.b {
  background-color:white;
  margin: 13px auto;
  overflow: hidden;
}
.p {
  position:relative;
  background-color:white;
  overflow:hidden;
  display:block;
}
.l {
  position:absolute;
  white-space:pre;
  font-size:1px;
  transform-origin:0% 190%;
  -ms-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -webkit-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
}
span {
  position:relative;
  vertical-align: baseline;
}
._ {
  color:transparent;
}
::selection{
  background: rgba(127,255,255,1);
}
::-moz-selection{
  background: rgba(127,255,255,1);
}
.i {
  position:absolute;
}
/* Base CSS END */
