/* vim: set shiftwidth=2 tabstop=2 autoindent cindent expandtab: */
/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* Base CSS */
/* Copyright 2012,2013 Lu Wang <coolwanglu@gmail.com> */
#pdf-outline { /* PDF Outline */
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:193px;
  overflow:auto;
  margin:0px;
  padding:0 0 0 7px;
  background-color:#707070;
  display:none;
}
#pdf-outline ul {
  margin-left:13px;
  margin-right:3px;
  padding-left:3px;
}
#pdf-outline li {
  list-style-type:disc;
  list-style-position:outside;
}
#pdf-outline a {
  font-size:13px;
  color:#e8e8e8;
}
#pdf-outline a:visited {
  color:#e8e8e8;
}
#pdf-outline a:hover{
  color:#e8e8e8;
}
#pdf-outline a:active{
  color:#e8e8e8;
}
#pdf-main { /* PDF container */
  position:absolute;
  top:0;
  left:0px;
  /* margin & border-width have to be 0, 
   * otherwise pdf2htmlEX may not calculate the coordinates correctly
   */
  margin:0;
  border-width:0;
}
@media screen {
  #pdf-outline.opened { display:block; }
  #pdf-outline.opened + #pdf-main { left:200px; }
  #pdf-main {
    bottom:0;
    right:0;
    overflow:auto;
    background-color:#808080;
  }
}
@media print {
  @page { margin:0; }
  body { 
    margin:0; 
    /* enable printing background images for WebKit */
    -webkit-print-color-adjust:exact;
  }
  #pdf-main {
    width:auto;
    height:auto;
    overflow:visible;
    background-color:transparent;
  }
}

/*
 * The followings are base classes, which are meant to be override by PDF specific classes
 * So do not increase the specificity
 */
.d { /* page decoration */
  position:relative;
  margin: 13px auto;
  border-width: 0;
  box-shadow: 1px 1px 3px 1px #333;
  overflow: hidden;
}
.p { /* page */
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  overflow: hidden;
  /* margin & border-width have to be 0, 
   * otherwise pdf2htmlEX.js may not calculate the coordinates correctly
   */
  margin:0;
  border-width:0;
}
.b { /* content of a page */
  position:absolute;
  border-width:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  display:block;
  transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -webkit-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
}
.b.opened { /* used by pdf2htmlEX.js, to show/hide pages */
  display:block;
}
.l { /* text line */
  position:absolute;
  white-space:pre;
  font-size:1px;
  transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -webkit-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
}
span {
  position:relative;
  vertical-align: baseline;
  /* _<id> for spaces may need display:inline, which will override this */ 
  display:inline-block;
}
._ { /* text shift */
  color:transparent;
  z-index:-1;
}
::selection{
  background: rgba(127,255,255,1);
}
::-moz-selection{
  background: rgba(127,255,255,1);
}
.j { /* info for Javascript */
  display:none;
}
.a {
}
/* transparent color - WebKit */
.Cd { /* css drawing */
  position:absolute;
  transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -webkit-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
}
@media print {
  .d {
    margin:0;
    box-shadow:none;
    page-break-after:always;
    page-break-inside:avoid;
  }
  @-moz-document url-prefix() {
    /* fix page truncation for Firefox */
    .d {overflow:visible;}
    .p {overflow:visible;}
    .b {overflow:visible;}
  }
}
/* Base CSS END */
